#achievement{
    margin-top: 50px;
    margin-left: 116px;
    margin-right: 66px;
    background-color: white;
    min-height: 450px;
    padding-left: 50px;
}
#achievement > h1{
    padding: 40px 40px 0 0;
}
#achievementItems{
    display: flex;
    flex-wrap: wrap;
}
#complete{
    flex: 1;
}
#uncompleted{
    flex: 1;
}