html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*css start*/

/*F6986E      2F343B         5962FF        FFFF65*/
/*blorange, donker grijs, deep sea blue, pasteel geel*/
*{
    box-sizing: border-box;
}
#logo{
    height: 200px;
    padding-top: 100px;
    padding-left: 115px;
    margin-top: -30px;
}
.profileImage{
    width: 100px;
    border-radius: 50%;
}
#Profile-Information{
    text-align: center;
    font-family: sans-serif;
}
#bgVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}
* {
     box-sizing: border-box;
    color: #2F343B;
 }

body {
    background-color: #f1f1f1;
    font-family: Chivo;
    color: #2F343B;
}
a{
    text-decoration: none;
    color: #2F343B;
}
/*LOGIN*/

#container{

}
/*Login Page*/
#loginForm{
    width: 850px;
    height: 350px;
    /*border: 1px solid black;*/
    margin: 30px auto 40px 550px;
    background: url("../img/inlog.png") no-repeat;
    background-size: cover;
}
#loginForm> #email, #password, #login, #register{
    display: block;
    float: right;
    clear: both;
    border: none;
    background-color: white;
    border-radius: 15px;
}
#loginForm > #email, #password{
    width: 300px;
    height: 50px;
    margin-right: 100px;
    margin-top: 30px;
    padding-left: 20px;
}
#loginForm > #login, #register{
    width: 150px;
    height: 50px;
    margin-right: 175px;
    margin-top: 50px;
    text-align: center;
}
#loginForm > #register{
    margin-top: 15px;
    text-align: center;
}

#matt{
    width: 250px;
    height: 450px;
    background-color: white;
    position: absolute;
    margin-top: -50px;
    margin-left: 100px;
    border-radius: 30px;
}